@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@layer components {
  .nav-link {
    @apply text-gray-500 text-sm 2xl:text-base font-medium hover:text-indigo-800 py-2 lg:py-0;
  }
  .btn {
    @apply text-sm font-medium rounded-full flex justify-center items-center gap-1;
  }
  .btn-black {
    @apply bg-black text-white;
  }
  .btn-outline {
    @apply bg-white border border-black text-black;
  }
  .before-border {
    @apply relative before:hidden lg:before:block before:content-[''] before:absolute before:-left-[3px] before:top-0 before:bottom-0 before:w-[3px] before:rounded-md;
  }
}
@tailwind utilities;
.no-scroll {
  overflow: hidden;
}
.percent {
  animation: percent-animation 1s ease-in infinite alternate;
}
.smartphone:hover .smartphone-img {
  animation: smartphone-anim 2s ease-in infinite alternate;
}
.smartphone:hover .smartphone-highest {
  animation: smartphone-highest 4s 0.1s ease-in infinite;
}

.btn:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
}
.btn-favorite:hover .svg-heart {
  transform: scale(1.1);
  transition: all 0.1s ease-in;
}
.btn-favorite.active .svg-heart {
  fill: white;
  animation: heart-animation 1s infinite;
}
.btn-favorite:before {
  position: absolute;
  content: "";
  bottom: 1rem;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
}
.btn-favorite.active:before {
  background: white;
  animation: heart-favorite-animation 3s ease-in;
}
.btn-cart {
  position: relative;
}
.btn-cart:before {
  position: absolute;
  content: "";
  left: 2.5rem;
  top: -0.5rem;
  height: 0.5rem;
  width: 0.5rem;
  background: #000;
}
.btn-cart:hover .cart-icon {
  animation: cart-animation-hover 1s ease-in infinite;
}
.btn-cart.animation:before {
  animation: cart-article-animation 0.5s ease-in-out both;
}
.btn-cart.animation span {
  animation: cart-hidden-text 1s ease-in-out both;
}
.btn-cart.animation .cart-icon {
  animation: cart-move-animation 2.5s 1s cubic-bezier(0.25, 0.1, 0.25, 1)
    forwards;
}

.shadow-custom2 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 3.5px 14.5px 0px;
}
.shadow-custom {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shadow-custom:hover {
  box-shadow: rgba(55, 48, 163, 0.2) 0px 7px 29px 0px;
  animation: shadow-animation 2s ease-in infinite alternate;
}
